CONFIG_RUST_DEBUG_ASSERTIONS=y

CONFIG_KUNIT=y

# `kernel` crate doctests KUnit test suite.
CONFIG_RUST_KERNEL_DOCTESTS=y

# `kernel` crate other test suites (i.e. `kunit_tests` and `#[test]`).
CONFIG_RUST_KUNIT_TESTS=y
CONFIG_RUST_ALLOCATOR_KUNIT_TEST=y
CONFIG_RUST_KVEC_KUNIT_TEST=y
CONFIG_RUST_BITMAP_KUNIT_TEST=y
CONFIG_RUST_KUNIT_SELFTEST=y
CONFIG_RUST_STR_KUNIT_TEST=y
CONFIG_RUST_ATOMICS_KUNIT_TEST=y
CONFIG_RUST_BITFIELD_KUNIT_TEST=y

#CONFIG_KASAN=y
#CONFIG_KASAN_KUNIT_TEST=y

CONFIG_RUST_BITMAP_HARDENED=y
